<% @projects.each do |p| %>
	<div class="projects">
<<<<<<< HEAD
	<p>
		<%= link_to p.title, "/projects/#{p.id}" %><br />
		<%= link_to "Support this project", "/projects/#{p.id}/pledges" %>
	</p>
	</div)
=======
	<h2><%= link_to p.title, "/projects/#{p.id}" %></h2>
	<p>by <%= "/p.user.name/" %></p>
	<p><%= truncate(p.description, length: 140) %></p>
	<p><%= "/percent funded/" %> funded</p>
	<p><%= "/total pledged/" %> pledged</p>
	<p><%= distance_of_time_in_words(Time.now, p.end_date) %> to go</p>
	<br><br>
	</div>
>>>>>>> 3e778cb6e97b45dfe1d619cf210f23314bc8ad71
<% end %>